get_prop(system_server, vendor_camera_prop)
allow system_server hal_power_pixel:binder call;
# allow system_server vendor_display_notch_prop:file { read };
allow system_server sysfs:file { read };
allow system_server vendor_default_prop:file { read };
allow system_server default_android_service:service_manager { add };
allow system_server sysfs:file { read };
